<ion-view title="Creators" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="creators-markdown2" class="show-list-numbers-and-dots"></div>
    <a href-inappbrowser="https://twitter.com/Crezantix" id="creators-button1" class="button button-positive  button-block">Florian Fußthaler</a>
    <a href-inappbrowser="https://twitter.com/flo071" id="creators-button2" class="button button-positive  button-block">Florian Hintermeier</a>
    <div id="creators-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">This App displays the air humidity.</p>
    </div>
  </ion-content>
</ion-view>